.cardBody {
    height: 12rem;
}

.Card.Img img {
    height: 50% !important;
}

.trending__card {
    width: 90%;
    transition: all 1s;
}

.trending__card:hover {
    transform: scale(1.1);

}

.card .btn {
    background-color: #000000;
    border: 0;
    color: white;
    transition: all 1s;
}

.card:hover .btn {
    background-color: #000000;
    color: white;
}